<mat-toolbar class="toolbar" role="banner" color="primary">
    <a aria-label="Home" rel="noopener" href="#"
    title="Home"
    >
        <fa-icon [icon]="homeIco" class="fa-lg" style="color: white"></fa-icon>
    </a>
    <span style="margin: 10px">Dynamic Debate</span>
    <div class="spacer"></div>
    <a aria-label="Github Repository" target="_blank" rel="noopener" href="https://github.com"
        title="Github">
        <fa-icon [icon]="githubIco" class="fa-lg" style="color: white"></fa-icon>
    </a> 
</mat-toolbar>
