<div class="content" role="main">
    <ng-container *ngIf="!(oppositionStand && propositionStand)">
        <div class="motion-container">
            <form [formGroup]="motionForm" class="motion-card" (ngSubmit)="onSubmit(motionForm.value)">
                <mat-form-field appearance="fill"> 
                    <mat-label>Proposition Stand</mat-label>
                    <input formControlName="proposition" matInput required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Opposition Stand</mat-label>
                    <input formControlName="opposition" matInput required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                   <mat-label>Motion Description</mat-label>
                   <textarea formControlName="motionDesc" matInput required></textarea>
                </mat-form-field>
                <br>
                <button id="submit" type="submit" [disabled]="!motionForm.valid" class="w3-btn w3-round">Submit</button>
                </form>
        </div>
    </ng-container>
    <ng-container *ngIf="oppositionStand && propositionStand">
        <div class="motion">
            <h1 class="mat-display-2">{{this.propositionStand}} vs {{this.oppositionStand}} </h1>
            <p class="mat-h2">{{this.motionDescription}}</p>
        </div>
        <div class="timer-container">
            <div class="timer-card">
                <h2 class="mat-display-1">Timer</h2>
                <p class="mat-h3">You have<b class="mat-h2"> {{time.value}} {{time | minutesPipe}}</b> to present your view.</p>
                <div class="timer mat-display-2">
                    {{ timeStr }}
                </div>
                <div class="timer-buttons">
                    <button [innerHTML]="startTimerBtn" (click)="onStartTimer()" class="w3-btn w3-round"></button>
                    <button (click)="onStopTimer()" class="w3-btn w3-round">Stop</button>
                </div>
            </div>
        </div>
        <p class="mat-h3">Add 10 points for each meaningful thought or deduct 10 for "better luck next time".</p>
        <p class="mat-h3">The maximum points possible are 100.<i> Good luck!</i></p>
        <div class="panel-container">
            <div *ngFor="let tally of tallyPanels" class="panel tally-panel"> 
                <h2 class="mat-display-1">{{tally.title}}</h2>
                <div class="tally">{{tally.value}}</div>
                <div class="tally-buttons">
                    <button class="w3-btn w3-round" (click)="add(tally)">Add</button>
                    <button class="w3-btn w3-round" (click)="deduct(tally)">Deduct</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<footer class="footer mat-h3">
    By Brenda Chepkorir © 2020.
</footer>
